@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 65.2%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
    height: 600px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blue();
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.player {
    flex: 50%;
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 00.75s;
}

.dice {
    position: absolute;
    left: 50%;
    top: 165px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);

}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background-color: white;
    border: none;
    border-radius: 50px;

    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;

    padding: 10px 25px;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur();
}

.btn--new {
    top: 40px;
}


.btn--roll{
    top: 400px;
}

.btn--hold {
    top: 465px;
}

.name {
    position: relative;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 20px;
}

.score {
    position: relative;
    font-size: 75px;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
}

.player--active {
    background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
    font-weight: 700;
}

.player--active .score{
    font-weight: 400;
}

/* .player--active .current {
    opacity: 1;
} */

.current {
    background-color: #c7365f;
    color: white;
    border-radius: 10px;
    width: 65%;
    opacity: 0.8;
    padding: 20px;
    text-align: center;
    transition: all 0.75s;
}

.current-label {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #ddd;
}

.current-score {
    font-size: 35px;
}

.btn::first-letter {
    font-size: 2.4rem;
    display: inline-block;
    margin-right: 0.7rem;
}


.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.dice {
    position: absolute;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
    background-color: #2f2f2f;
}

.player--winner .name {
    font-weight: 700;
    color: #c7365f;
}


.hidden {
    display: none;
}